<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title>
</head>
<body>
    <h1>Título del documento</h1>

    <h2>Un subtitulo cualquiera</h2>

    <img src="/img/DH.png" alt="">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati laborum esse totam accusantium perspiciatis veritatis doloremque, eligendi dicta tempora! Nemo nostrum suscipit exercitationem quo velit deserunt alias illo corporis inventore!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eveniet sint animi. Dolorum eos explicabo neque tempora eius praesentium dolor perferendis reiciendis dolores officia, placeat, molestiae ut. Tempore, quidem blanditiis.
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore, sint modi rem dolores aliquid ut ullam, quos impedit maiores ducimus quidem delectus itaque, debitis autem veritatis amet. Consequuntur, explicabo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloremque rem excepturi dolore amet est sed dolores id cupiditate sapiente, corporis officiis laborum, quia voluptate molestiae vitae distinctio. Sint, rem.
    </p>

<ol>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ol>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<a href="http://www.google.com">Ir a Google</a>

</body>
</html>