<!DOCTYPE html>
<html lang="en">
<head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en html</title>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">  
</head>
<body >
    <div class="contenedor1">
        <h2>Soy el contenedor1</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed ex nisi ad atque. Tempore fugiat eveniet suscipit! Beatae, iste maxime at sequi veniam laborum quam quo saepe praesentium adipisci amet!</p>

    </div>
    <div class="contenedor2">
        <h2>Soy el contenedor2</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed ex nisi ad atque. Tempore fugiat eveniet suscipit! Beatae, iste maxime at sequi veniam laborum quam quo saepe praesentium adipisci amet!</p>

    </div>

</body>
</html>